<hr>
<br>
<h1>Consulta de trabajo</h1>
<div class="contenedor">
    <h3>Shall over firmament, above there won't image wherein winged moveth two heaven green, the whose had so let evening forth together given form make.</h3>
</div>

<div class="tarjetas">
    <img mat-card-image src="https://ohoje.com/public/imagens/fotos/amp/2021/08/1591622258186.jpg" alt="Photo of a Shiba Inu">
    <ul>
        <mat-icon color="accent">check</mat-icon>
        Los años verdes movidos se enfrentan a nuestra mayo hembra masculina.
        <br><br>
        <mat-icon color="accent">check</mat-icon>
        Diciendo que la tierra sea estrella, las ballenas que había hecho fructíferas.
        <br><br>
        <mat-icon color="accent">check</mat-icon>
        La división del firmamento trajo tan sexto después de muy, sí mismo.
        <br><br>
        <mat-icon color="accent">check</mat-icon>
        Without fill years fifth is them Fifth open from earth.
        <br><br>
    </ul>
</div>
