<div class="tarjetas">
    <mat-card>

        <mat-card-header>
          <div mat-card-avatar></div>
            <mat-card-title>CREATIVIDAD</mat-card-title>
            <mat-card-subtitle>Harris Alarcon</mat-card-subtitle>
        </mat-card-header>
    
        <img mat-card-image src="https://www.mabisy.com/server/Portal_0000030/img/blogposts/post_2030.jpg" alt="Photo of a Shiba Inu">
    
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
    
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    
      </mat-card>
    
      <mat-card>
    
        <mat-card-header>
          <div mat-card-avatar></div>
            <mat-card-title>NEGOCIOS</mat-card-title>
            <mat-card-subtitle>Tom Alarcon</mat-card-subtitle>
        </mat-card-header>
    
        <img mat-card-image src="https://media.istockphoto.com/photos/aerial-view-of-business-data-analysis-graph-picture-id941238518?k=20&m=941238518&s=612x612&w=0&h=DQ2ovQ4g1p5L8QJiRSlcr5eKMaoNotRq-Nf6Vxo3fIc=" alt="Photo of a Shiba Inu">
    
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
    
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        
      </mat-card>
    
      <mat-card>
    
        <mat-card-header>
          <div mat-card-avatar></div>
            <mat-card-title>TEAM</mat-card-title>
            <mat-card-subtitle>Fred Alarcon</mat-card-subtitle>
        </mat-card-header>
    
        <img mat-card-image src="https://ohoje.com/public/imagens/fotos/amp/2021/08/1591622258186.jpg" alt="Photo of a Shiba Inu">
    
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
    
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        
      </mat-card>

      <mat-card>
    
        <mat-card-header>
          <div mat-card-avatar></div>
            <mat-card-title>WORK SPACE</mat-card-title>
            <mat-card-subtitle>Lweis Alarcon</mat-card-subtitle>
        </mat-card-header>
    
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB2tnI4ggLMKlZ9wISUMr6PFMzSjYurgnVPd5Oqq43WPe3FjcmNSgSgV3t_Z2jPrrKQTU&usqp=CAU" alt="Photo of a Shiba Inu">
    
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
    
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        
      </mat-card>
</div>